#Homepage{
    padding-top: 80px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}
#Homepage #cities-list,
#Homepage #parks-list{
    margin: 50px auto;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 90%;
}
#Homepage .park-card{
    width: 300px;
    height: fit-content;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 20px;
    border-radius: 6px;
    cursor: pointer;
}
#Homepage .park-card img{
    width: 100%;
    max-height: 300px;
}
#Homepage button{
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}