#Homepage{
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
#Homepage select{
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}
#Homepage input {
    padding: 10px;
    font-size: 18px;
    margin: 10px;
  }
#Homepage #cities-list,
#Homepage #parks-list{
    margin: 50px auto;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 90%;
}
#Homepage .park-card{
    width: 300px;
    height: fit-content;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px ;
    border-radius: 6px;
    cursor: pointer;
}
#Homepage .park-card img{
    width: 100%;
    max-height: 300px;
    border-radius: 20px;
}
#Homepage button{
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}
#Homepage #location{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
@media (max-width: 800px)  {
    #Homepage{
        padding-top: 50px;
    }
    #Homepage #cities-list,
    #Homepage #parks-list{
        
        gap: 5px;
        max-width: 100%;
    }
#Homepage .park-card{
    padding: 10px;
}
    #Homepage h2{
        font-size: 16px;
    }
    #Homepage button{
        padding: 5px;
        font-size: 16px;
        border-radius: 20px;
    }
}