#AddPark {
  justify-content: center;
  padding-top:200px ;
}
#AddPark form {
  margin-top: 15px;
  padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
  }
  
  #AddPark #location {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  #AddPark input {
    padding: 10px;
    font-size: 22px;
    margin: 10px;
  }
  #AddPark button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
  }
  
  #AddPark #login-msg {
    width: 200px;
    height: 200px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #AddPark #error {
    color: red;
  }
  #AddPark .spinner {
    width: 200px;
    height: 200px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
  #spinner-loader{
      margin: 50px;
  }

  @media (max-width:500px) {
    #AddPark form{
      gap: 5px;
      padding: 10px;
    }
    #AddPark input {
      padding: 5px;
      font-size: 16px;
      margin: 5px;
    }
    #AddPark button {
      padding: 10px 15px;
      font-size: 10px;
    }
    #AddPark #login-msg {
      width: 100px;
      height: 100px;
      font-size: 20px;
    }
  }