@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://kit-free.fontawesome.com/releases/latest/css/free.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(248, 246, 246);
}

#root {
  width: 100%;
  height: 100%;
}
:root {
  --light-color1: #ffffff;
  --light-color2: #fdfdfd;
  --light-color3: #f1f1f1;
  --light-color4: #eaeaea;
  --light-color5: #e4e4e4;
  --light-color6: #cecece;
  --light-color7: #bfc1c0;
  --light-color8: #8c8c8c;
  --dark-color1: #010101;
  --dark-color2: #141414;
  --dark-color3: #222222;
  --dark-color4: #2f2f2f;
  --dark-color5: #383838;
  --dark-color6: #444444;
  --dark-color7: #505050;
  --dark-color8: #707070;
  --blue-color1: #e4f0fa;
  --blue-color2: #b2cef2;
  --blue-color3: #68abed;
  --blue-color4: #2062b2;
  --blue-color5: #2f5392;
  --blue-color6: #053c60;
  --green-color1: #d4e9d9;
  --green-color2: #bdddc2;
  --green-color3: #93cc9d;
  --green-color4: #22a33c;
  --green-color5: #167f2c;
  --green-color6: #44591b;
}

.App {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  gap: 20px;
  font-family: "Font Awesome 5 Free";
}

#dark-header #mode,
#light-header #setting-container button,
#light-header {
  background-color: var(--green-color1);
}
#light-header #mode,
#dark-header #setting-container button,
#dark-header {
  background-color: var(--green-color5);
  color: var(--light-color1);
}

#dark-header #setting-container {
  /* background-color: var(--dark-color8); */
  border: 2px dotted var(--dark-color7);
}
#light-header #setting-container {
  /* background-color: var(--light-color8); */
  border: 2px dotted var(--light-color7);
}

#light-header .menu-item {
  color: var(--green-color6);
}
#dark-header .menu-item {
  color: var(--green-color2);
}

#light-header .menu-item:hover {
  border-bottom: 5px solid var(--green-color5);
}
#dark-header .menu-item:hover {
  border-bottom: 5px solid var(--green-color1);
}
#light-header .link {
  color: var(--blue-color6);
}
#dark-header .link {
  color: var(--blue-color2);
}

#light-header .link:hover {
  border-bottom: 5px solid var(--blue-color5);
}
#dark-header .link:hover {
  border-bottom: 5px solid var(--blue-color1);
}

/* Aside Mode styles */
.sidebar-light {
  background-color: var(--light-color3);
  color: var(--green-color6);
}
.sidebar-dark {
  background-color: var(--dark-color2);
  color: var(--light-color3);
}
.sidebar-light a {
  color: var(--green-color5);
}
.sidebar-dark a {
  color: var(--green-color4);
}

.sidebar a.active {
  background-color: var(--green-color4);
  color: var(--light-color1);

  span {
    i {
      opacity: 1;
    }
  }
}

.sidebar a:hover:not(.active) {
  background-color: var(--dark-color6);
  color: var(--light-color1);
}

/* Pages Mode styles */
.pages-light,
.pages-dark {
  min-height: 99vh;
  min-width: 88vw;
  margin: auto;
  padding-top: 10vh;
  /* padding-left: 5vw; */
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pages-light {
  background-color: var(--light-color2);
  color: var(--dark-color3);
}
.pages-dark {
  background-color: var(--dark-color4);
  color: var(--light-color2);
}

/* login page */
.pages-light form {
  background-color: var(--light-color2);
  box-shadow: 10px 10px 10px var(--light-color3);
}
.pages-dark form {
  background-color: var(--dark-color3);
  box-shadow: 10px 10px 10px var(--dark-color4);
}
.pages-light input {
  border-color: transparent;
  background-color: transparent;
  border-bottom-color: 5px solid var(--light-color3);
  color: var(--dark-color3);
}
.pages-dark input {
  border-color: transparent;
  background-color: transparent;
  border-bottom: 2px solid var(--dark-color4);
  color: var(--light-color3);
}
.pages-light input::placeholder {
  color: var(--green-color5);
}
.pages-dark input::placeholder {
  color: var(--light-color5);
}
.pages-dark input:focus {
  background-color: var(--green-color5);
  border-color: var(--green-color3);
}
.pages-light input:focus {
  background-color: var(--green-color3);
  border-color: var(--green-color5);
}
.pages-light .spinner {
  background-color: var(--blue-color2);
  color: var(--blue-color6);
  border: 1px solid var(--blue-color6);
}

.pages-dark .spinner {
  background-color: var(--blue-color6);
  color: var(--blue-color4);
  border: 1px solid var(--blue-color4);
}

/* homepage */
.pages-light .park-card {
  background-color: var(--green-color1);
  box-shadow: 10px 10px 10px var(--light-color8);
}
.pages-dark .park-card {
  box-shadow: 10px 10px 10px var(--dark-color8);
  background-color: var(--green-color5);
}
.pages-dark #parks-list .park-card:hover {
  transition: 0.5s;
  box-shadow: none;
  background-color: var(--dark-color8);
}
.pages-light #parks-list .park-card:hover {
  box-shadow: none;
  transition: 0.5s;
  background-color: var(--light-color8);
}

.pages-light button {
  background-color: var(--green-color1);
  color: var(--green-color4);
  border: 2px solid var(--green-color4);
}
.pages-dark button {
  background-color: var(--green-color4);
  color: var(--dark-color1);
  border: 1px solid var(--green-color1);
}
.pages-light button:hover {
  background-color: var(--green-color4);
  color: var(--green-color2);
  transition: 0.5s;
}
.pages-dark button:hover {
  background-color: var(--green-color1);
  color: var(--green-color4);
  transition: 0.5s;
}

/* single park styles*/
.pages-light #activities-container div {
  background-color: var(--green-color2);
  color: var(--dark-color1);
  border-color: var(--green-color4);
}
.pages-dark #activities-container div {
  background-color: var(--green-color4);
  color: var(--dark-color1);
  border: 1px solid var(--green-color1);
}

@media (max-width: 800px) and (min-width: 501px) {
  body {
    min-height: 50vh;
  }
  .App {
    min-height: 50vh;
    padding-top: 10px;
    gap: 10px;
  }
  .pages-light,
  .pages-dark {
    min-height: 50vh;
    padding-top: 5vh;
  }
}
